<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Author</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class = "container my-2 main-body">
    <h3 class = "text-center">Add Book</h3>
    <div class = "login-main">
        <div class = "card">
            <div class = "card-body">
                <form th:action="@{/books}" th:object="${book}" method = "POST" enctype="multipart/form-data">
                    <div class = "row">
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="isbn" class = "col-form-label">Book ISBN</label>
                            <input type="text" placeholder = "Enter book isbn" th:field="*{isbn}" class="form-control font-bold" required>
                            <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="name" class = "col-form-label">Book Name</label>
                            <input type="text" placeholder = "Enter book name" th:field="*{name}" value = "name" class="form-control font-bold" required>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="serialName" class = "col-form-label">Book Serial Name</label>
                            <input type="text" placeholder = "Enter book serial name" th:field="*{serialName}" value = "serialName" class="form-control font-bold" required>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="language" class = "col-form-label">Book Language</label>
                            <input type="text" placeholder = "Enter book language" th:field="*{language}" value = "language" class="form-control font-bold" required>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="description" class = "col-form-label">Description</label>
                            <input type="text" placeholder = "Enter book description" th:field="*{description}" value = "description" class="form-control font-bold">
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for="category" class = "col-form-label">Book Category&nbsp;[Add&nbsp;<a th:href="@{/categories/new}">Here</a>]</label>
                            <select th:field="*{categories}" class = "form-control">
                                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for = "author" class = "col-form-label">Book Author&nbsp;[Add&nbsp;<a th:href="@{/authors/new}">Here</a>]</label>
                            <select th:field="*{authors}" class = "form-control">
                                <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                            </select>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for = "publisher" class = "col-form-label">Publisher&nbsp;[Add&nbsp;<a th:href="@{/publishers/new}">Here</a>]</label>
                            <select th:field="*{publishers}" class = "form-control">
                                <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
                            </select>
                        </div>
                        <div class = "form-group col-md-12 col-sm-12 col-12">
                            <label for = "image" class = "col-form-label">Book Photo</label>
                            <input type = "file" name = "image" accept="image/png, image/jpeg" class = "form-control">
                        </div>
                        <div class = "mt-2 mb-2">
                            <span th:if="${!success}" style="color:red;">Book ISBN already exists.</span>
                        </div>
                        <div class="col-md-12 mt-2">
                            <input type="submit" class="btn btn-primary" value="Submit" style = "width: 100%;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
<div th:insert="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>